In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FuncFormatter

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv(r'C:\Users\Mohamed Fawzi\Desktop\Product Sales Analysis\sales_data_sample.csv', encoding='ISO-8859-1')

df.head(2)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.0,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.9,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small

## Inspecting & Preparing Data

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [37]:
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [38]:
# I will rename the columns to be lowercase for easier access
df.columns = df.columns.str.lower()
df.columns

Index(['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber',
       'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id',
       'productline', 'msrp', 'productcode', 'customername', 'phone',
       'addressline1', 'addressline2', 'city', 'state', 'postalcode',
       'country', 'territory', 'contactlastname', 'contactfirstname',
       'dealsize'],
      dtype='object')

In [39]:
# Check for missing values
df.isnull().sum()

ordernumber            0
quantityordered        0
priceeach              0
orderlinenumber        0
sales                  0
orderdate              0
status                 0
qtr_id                 0
month_id               0
year_id                0
productline            0
msrp                   0
productcode            0
customername           0
phone                  0
addressline1           0
addressline2        2521
city                   0
state               1486
postalcode            76
country                0
territory           1074
contactlastname        0
contactfirstname       0
dealsize               0
dtype: int64

-   I noticed that the territory column missing values based on the country column are for USA and Canada. To handle these missing values we're going to map territory column based on the country column.

In [44]:
# define the mapping of countries to territories
territory_mapping = {
    "USA": "North America",
    "Spain": "EMEA",
    "France": "EMEA",
    "Australia": "APAC",
    "UK": "EMEA",
    "Italy": "EMEA",
    "Finland": "EMEA",
    "Norway": "EMEA",
    "Singapore": "APAC",
    "Canada": "North America",
    "Denmark": "EMEA",
    "Germany": "EMEA",
    "Sweden": "EMEA",
    "Austria": "EMEA",
    "Japan": "Japan",
    "Belgium": "EMEA",
    "Switzerland": "EMEA",
    "Philippines": "APAC",
    "Ireland": "EMEA"
}

# replace missing values in 'territory' column based on 'country'
df['territory'] = df['country'].map(territory_mapping)

#df.isna().sum()

In [48]:
# also I will replace the missing values in state column with 'Unknown'
df['state'].fillna('Unknown', inplace=True)
# and I will replace the missing values in postal code column with '00000'
df['postalcode'].fillna('00000', inplace=True)

In [49]:
df.isna().sum()

ordernumber         0
quantityordered     0
priceeach           0
orderlinenumber     0
sales               0
orderdate           0
status              0
qtr_id              0
month_id            0
year_id             0
productline         0
msrp                0
productcode         0
customername        0
city                0
state               0
postalcode          0
country             0
territory           0
contactlastname     0
contactfirstname    0
dealsize            0
month               0
dtype: int64

In [50]:
# check for duplicates
df.duplicated().sum()

0

In [ ]:
# drop columns that are not needed for analysis
columns_to_drop = ['phone', 'addressline1', 'addressline2', ]
df.drop(columns=columns_to_drop, inplace=True)

In [51]:
# converting the order date to datetime
df['orderdate'] = pd.to_datetime(df['orderdate'])
# then I will extract the name of the month 
df['month'] = df['orderdate'].dt.month_name()

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ordernumber       2823 non-null   int64
 1   quantityordered   2823 non-null   int64
 2   priceeach         2823 non-null   float64
 3   orderlinenumber   2823 non-null   int64
 4   sales             2823 non-null   float64
 5   orderdate         2823 non-null   datetime64[ns]
 6   status            2823 non-null   object
 7   qtr_id            2823 non-null   int64
 8   month_id          2823 non-null   int64
 9   year_id           2823 non-null   int64
 10  productline       2823 non-null   object
 11  msrp              2823 non-null   int64
 12  productcode       2823 non-null   object
 13  customername      2823 non-null   object
 14  city              2823 non-null   object
 15  state             2823 non-null   object
 16  postalcode        2823 non-null   object
 17  country           2823 non-null   object
 18  territory         2823 non-null   object
 19  contactlastname   2823 non-null   object
 20  contactfirstname  2823 non-null   object
 21  dealsize          2823 non-null   object
 22  month             2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(13)
memory usage: 507.4+ KB

In [ ]:
#df.to_csv(r'C:\Users\Mohamed Fawzi\Desktop\Product Sales Analysis\sales_data_cleaned.csv', index=False)

## Question to Answer:
1. Which months have the highest and lowest sales?
2. What is the quarterly and yearly trend in sales?
3. Is there a seasonal pattern in sales?
4. Which product lines generate the most revenue?
5. Is there a relationship between unit price and quantity ordered?
6. Who are the top-performing customers?
7. How frequently do customers place orders?
8. Which countries contribute the most to sales?
9. How do sales vary by territory?
10. What is the deal size distribution across territories?
11. What percentage of orders are shipped successfully?
12. How much revenue is tied up in at-risk orders?
13. What factors most influence total sales?